<div class="container">
  <nav class="nav m-5">
    <a class="nav-link" aria-current="page" href="/home">
      Home
    </a>
    <a class="nav-link" aria-current="page" href="/chat">
      Chat
    </a>
    <a class="nav-link" aria-current="page" href="/cart">
      Carrito
    </a>
    <a class="nav-link" aria-current="page" href="/realtimeproducts">
      Real Time Products
    </a>
    <a class="nav-link" aria-current="page" href="/profile">
      Perfil de Usuario
    </a>
  </nav>
  <div class="row">
    {{#each products}}
      <div class="container-fluid col">
        <div class="card m-5" style="width: 18rem;">
          <img src="{{product.thumbnail}}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">
              {{product.title}}
            </h5>
            <p class="card-text">
              {{product.descripcion}}
            </p>
            <h5>
              ${{product.price}}
            </h5>
            <h5>
              Unidades: {{quantity}}
            </h5>
            <h5>
              Stock: {{product.stock}}
            </h5>
            <button id="{{_id}}" name="{{../cartId}}" class="btn btn-primary" onclick="eliminar(this.name, this.id)">
              Eliminar
            </button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="text-center mb-5">
    <button id="{{cartId}}" class="btn btn-success" onclick="comprar(this.id)">
      Comprar
    </button>
  </div>
</div>

<script>
  async function eliminar (cid, pid){
    await axios.delete(`api/cart/${cid}/product/${pid}`)
    window.location.reload()
  }

  async function comprar(cid){
    await axios.post(`api/cart/${cid}/purchase`)
    window.location.reload()
  }
</script>