<div class="container">
  <div class="row">
    {{#each products}}
      <div class="container-fluid col">
        <div class="card m-5" style="width: 18rem;">
          <img src="{{thumbnail}}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">
              {{title}}
            </h5>
            <p class="card-text">
              {{descripcion}}
            </p>
            <h5>
              ${{price}}
            </h5>
            <h5>
              {{stock}} unidades
            </h5>
            <button
              id="{{_id}}"
              type="button"
              onclick="addToCart(this.id)"
              class="btn btn-primary"
            >
              Agregar
            </button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<script>
  async function addToCart(id){
        let idProduct = id
        let idCart = '649e1af43c56abc4944c62df'
        let quantity = 2
        let result = await axios.post(`/api/cart/${idCart}/products/${idProduct}/quantity/${quantity}`)
        console.log(result.status)
        if(result.status === 200){
            Swal.fire({
                        position: 'Center',
                        icon: 'success',
                        title: 'Productro Agregado Correctamente',
                        showConfirmButton: false,
                        timer: 1500
                        })

        }else{
                        Swal.fire({
                        position: 'Center',
                        icon: 'error',
                        title: 'Error al Cargar el Producto',
                        showConfirmButton: false,
                        timer: 1500
                        })
        }
    }
</script>