<div class="container">
    <div class="row">
        {{#each products}}
            <div class="container-fluid col">
                <div class="card m-5" style="width: 18rem;">
                    <img src="{{thumbnail}}" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{descripcion}}</p>
                        <h5>${{price}}</h5>
                        <h5>{{stock}} unidades</h5>
                        <button type="button" disabled class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
